.background {
    -fx-background-color: #FFFFFF;
}

.label {
    -fx-alignment: center;

}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #000000;
    -fx-border-width: 2;

    -fx-text-fill: #000000;

}

